#Frontend & Backend directorys
node_modules/

#backend
gcloud/
keys/
data/

#intent-management
dist/

#dataConstruction directory
permutations/

#dnnTraining directory
tflearn_logs/
training_data

#python directory
__pycache__/
bin/
!backend/bin/
include/
lib/
share/
others/
pyvenv.cfg
lib64

#optional
.env
.vscode/
.idea/
.DS_Store
